.root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: #cc5500;
 }

 .header-section {
     -fx-padding: 10px;
     -fx-font-size: 20px;
}

.text-field {
    -fx-padding: 1px;
    -fx-font-size: 17px:

}